<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.franc.account.dao.AccountDao">

    <select id="findById" parameterType="Long" resultType="com.franc.account.vo.AccountVo">
        /** AccountMapper.findById */
        SELECT A.*
        FROM ACCOUNT A
        WHERE A.ACCOUNT_ID = #{accountId}
    </select>

</mapper>